
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    @Styles.Render("/Content/css/style.css")
    @Styles.Render("/Content/css/contact.css")
}

<div class="main_info_profile">
    <ul class="list_profile">
        <li class="list_card">
            <div class="card_support">
                <img class="img_profile" src="~/Content/images/img_contact/img_profile1.jpg" alt="">
                <div class="slide_profile">
                    <p class="name">Kha</p>
                    <ul class="info_support">
                        <li><a href="https://www.facebook.com/kim.thaikha/"><i class="fab fa-facebook "></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram  "></i></a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list_card">
            <div class="card_support">
                <img class="img_profile" src="~/Content/images/img_contact/img_profile2.jpg" alt="">
                <div class="slide_profile">
                    <p class="name">Khoa</p>
                    <ul class="info_support">
                        <li><a href="https://www.facebook.com/nguyenkhoa763"><i class="fab fa-facebook "></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram  fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list_card">
            <div class="card_support">
                <img class="img_profile" src="~/Content/images/img_contact/img_profile3.jpg" alt="">
                <div class="slide_profile">
                    <p class="name">Tín</p>
                    <ul class="info_support">
                        <li><a href="https://www.facebook.com/tin.truong.3323"><i class="fab fa-facebook "></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram  "></i></a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list_card">
            <div class="card_support">
                <img class="img_profile" src="~/Content/images/img_contact/img_profile4.jpg" alt="">
                <div class="slide_profile">
                    <p class="name">Minh</p>
                    <ul class="info_support">
                        <li><a href="https://www.facebook.com/tin.truong.3323"><i class="fab fa-facebook "></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram  "></i></a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>

