
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("/Content/css/style.css")
    @Styles.Render("/Content/css/modelstyle.css")

}

<div class="layout_padding collection_section">
    <div class="container">
        <h1 class="new_text"><strong>New  Collection</strong></h1>
        <p class="consectetur_text" style="font-family:Tahoma;">Đây là mẫu sản phẩm mới ra ss2021</p>
        <div class="collection_section_2">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-img">
                        <button class="new_bt">New</button>
                        <div class="shoes-img"><img src="~/Content/images/cardigan2.jpg" style="width:400px;"></div>
                        <p class="sport_text" style="width:60%">Print Cardigan - Cream/Green</p>
                        <div class="dolar_text"><strong style="color: #f12a47;">490.000VNĐ</strong> </div>

                    </div>
                    <button class="seemore_bt" style="background-color: #4481eb;border-radius: 10px">See More</button>
                </div>
                <div class="col-md-6">
                    <div class="about-img2">
                        <div class="shoes-img2"><img src="~/Content/images/cardigan1.jpg" style="width:400px;"></div>
                        <p class="sport_text" style="width:60%">Print Cardigan - Black/Pink</p>
                        <div class="dolar_text"><strong style="color: #f12a47;">490.000VNĐ</strong> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="imgg">
            <img src="~/Content/images/model.png" width="400" height="600">
            <img src="~/Content/images/bag.jpg" width="400" height="600">
        </div>
    </div>
</div>


<div class="collection_section">
    <div class="container">
        <h1 class="new_text"><strong>Embroidered Varsity Jacket - Red/Black</strong></h1>
        <p class="consectetur_text" style="font-family:Tahoma;">Varsity Jacket hay còn được gọi là áo khoác bóng chày còn sở hữu một cái tên khác là Letterman Jacket, chắc hẳn không còn xa lạ với nhiều bạn trẻ yêu thích thời trang nói chung và streetwear nói riêng. Vốn được lấy cảm hứng từ những bộ đồng phục thể thao của các trường trung học phổ thông/high school và hệ thống cao đẳng/đại học, được làm ra chỉ dành riêng cho những học sinh có thành tích học tập lẫn thể thao xuất sắc của trường</p>
    </div>
</div>
<div class="collectipn_section_3 layuot_padding">
    <div class="container">
        <div class="racing_shoes">
            <div class="row">
                <div class="col-md-8">
                    <div class="shoes-img3"><img src="~/Content/images/jacket1.jpg"></div>
                </div>
                <div class="col-md-4">
                    <div class="sale_text"><strong>New <br><span style="color: #0a0506;">VARSITY</span> <br>JACKET</strong></div>
                    <div class="number_text"><strong><span style="color: #0a0506;font-size:50px;">800.000VNĐ</span></strong></div>
                    <button class="seemore" style="background-color: #4481eb;border-radius: 10px">See More</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="topic">
        <h3 class="new_text">New Arrival</h3>
    </div>

    <div class="rows">
        <div class="column">
            <div class="contents">
                <a href="">
                    <img src="~/Content/images/y1.png" alt="Y T-Shirt White" style="width:100%">
                    <h4>Y Basic T-Shirt White </h4>
                    <p class="price">390.000VNĐ</p>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="contents">
                <a href="">
                    <img src="~/Content/images/y3.png" alt="Y T-Shirt Sky" style="width:100%">
                    <h4>Y Basic T-Shirt Skyblue</h4>
                    <p class="price">390.000VNĐ</p>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="contents">
                <a href="">
                    <img src="~/Content/images/y4.png" alt="Y T-Shirt Mint" style="width:100%">
                    <h4>Y Basic T-Shirt Mint </h4>
                    <p class="price">390.000VNĐ</p>
                </a>
            </div>
        </div>

        <div class="column">
            <div class="contents">
                <a href="">
                    <img src="~/Content/images/backpack3.png" alt="Y T-Shirt Mint" style="width:100%">
                    <h4>Y Basic T-Shirt Mint </h4>
                    <p class="price">390.000VNĐ</p>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="contents">
                <a href="">
                    <img src="~/Content/images/backpack2.png" alt="Y T-Shirt Mint" style="width:100%">
                    <h4>Y Basic T-Shirt Mint </h4>
                    <p class="price">390.000VNĐ</p>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="contents">
                <a href="">
                    <img src="~/Content/images/backpack1.png" alt="Y T-Shirt Mint" style="width:100%">
                    <h4>Y Basic T-Shirt Mint </h4>
                    <p class="price">390.000VNĐ</p>
                </a>
            </div>
        </div>

        <div class="column">
            <div class="contents">
                <a href="">
                    <img src="~/Content/images/Short3.png" alt="Y T-Shirt Mint" style="width:100%">
                    <h4>Y Basic T-Shirt Mint </h4>
                    <p class="price">390.000VNĐ</p>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="contents">
                <a href="">
                    <img src="~/Content/images/Short2.png" alt="Y T-Shirt Mint" style="width:100%">
                    <h4>Y Basic T-Shirt Mint </h4>
                    <p class="price">390.000VNĐ</p>
                </a>
            </div>
        </div>
        <div class="column">
            <div class="contents">
                <a href="">
                    <img src="~/Content/images/Short1.png" alt="Y T-Shirt Mint" style="width:100%">
                    <h4>Y Basic T-Shirt Mint </h4>
                    <p class="price">390.000VNĐ</p>
                </a>
            </div>
        </div>
    </div>
    <button class="seemore" style="background-color: #4481eb;border-radius: 10px;width:150px;margin-left:460px">See More</button>
    <br /><br />
            <div>
            <img src="~/Content/images/section_banner_27a8c.jpg" alt="" />
            <img src="~/Content/images/slide-img17a8c.jpg" alt="" />
        </div>
</div>
