
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    @Styles.Render("/Content/css/style.css")
    @Styles.Render("/Content/css/shop.css")
}

<div class="all-banner">
    <img class="banner" src="~/Content/images/slide-img5.jpg" alt="" />
    <div class="center_text">SHOP</div>
</div>
<div class="containers">
    <hr />
    <div>
        <h3>hello</h3>
    </div>
</div>